## Exploring Philosophical Texts Across Gender, Region, and Time with Text Analytics
### Haley Egan

#### Project Overview

The goal of this project is to explore the cultural patterns in philosophical texts. Main topics and cultural themes are analyzed across the texts as a whole. Topics and themes are also examined between groups, such as between male and female philosochical writers, between regions/nations, and across time. Text Analytics is a powerful tool to help us understand and extract cultural patterns from large quantities of texts.  

Key Questions: 
- Do male and female philosophers explore different topics, or share similarites? 
- Are different topics discussed in different regions of the world? 
- Are different topics discussed in different time periods? 
- Can the key concepts of philosophical texts be extracted from each text, in an interpretable way? 
- What are the most important issues that philosophers are concerned with? Do these change over time, and do they differ based on gender?

#### Project Data

For this project, 21 philosophical texts were collected. Ten texts are by male Western philosophers, and span from 4th century BC to the 19th century AD. Four philosophical texts are by men from other parts of the world, including Asia and South America. Seven texts were collected by female Western philosophers, most of which are from the 20th century. These texts were collected from Project Gutenberg, and other online document archives. The texts are all in Plain-Text format, for easier use in data cleaning, parsing, and manipulation. Due to the necessity of the plain-text format, the available texts were limited, especially for the female philosophers. Most (known) published female philosophers are from the modern era, with limited free access to their works in plain-text form. This is the same for modern male philosophers. The distribution of texts is not even across time/gender, which must be taken into account when analysing the texts. There are many philosophical texts in the world, and this sample barely scratches the surface. Further exploration with more texts would provide greater understandings, and should be considered for future studies. However, there should still be enough textual data in order to address many cultural questions when looking at philosophical texts.

- 10 Western Philosophical Texts by Male Authors: 
    - Aristotle: Nicomachean Ethics (4th century BC)
    - Plato: The Republic (4th century BC)
    - Cicero: On Moral Duties / De Officiis (44 BC)
    - David Hume: An Enquiry Concerning Human Understanding (1748)
    - Immanuel Kant: Fundamental Principles of the Metaphysic of Morals (1785)
    - Karl Marx: The Communist Manifesto (1848)
    - John Stuart Mill: Utilitarianism (1861) 
    - Friedrich Nietzsche: Beyond Good and Evil (1886)
    - Søren Kierkegaard: Selections from the Writings of Kierkegaard (1923)
    - Michel Foucault: The Order of Things (1966)
- 4 Non-Western Philosophical Texts by Male Authors: 
    - Laozi (Lao Tzu): Tao Te Ching (400 BC) 
    - Paulo Freire: Pedagogy of the Oppressed (1968) 
    - **Sun Tzu: The Art of War (5th century BC)**
    - Herman Hesse: Siddartha (1922) 
- 7 Western Phiosophical Texts by Female Authors:
    - Mary Wollstonecraft: A Vindication of the Rights of Men (1790)
    - Mary Wollstonecraft: A Vindication of the Rights of Woman (1792)
    - Harriet Taylor Mill: The Enfranchisement of Women (1852)
    - Simone de Beauvoir: The Second Sex (1952)
    - Hannah Arendt: The Origins of Totalitarianism (1951)
    - bell hooks: Ain’t I a Woman: Black Women and Feminism (1981)
    - bell hooks: Feminist Class Struggle (2002)

#### Methodology

Several Text Analytics tools are used for this project.
- Bag-of-words:
- TF-IDF:
- Principle Component Analysis (PCA): 
- Latent Diriclet Analysis (LDA):
- Topic Modeling:
- Word Embeddings: word2vec
- Visualizations:
    - Cluster Diagrams:
    - t-SNE:
    - Dispersion Plots:
    - Correlation heatmaps:
    
**Step 1**: Clean texts - import texts, remove beginning and end of texts that are not part of the main corpus. 

**Step 2**: Combine texts into one dataframe. From combined dataframe, create library table (LIB), document table (DOC), token table (TOKEN), and vocabulary table (VOCAB), all exported as csv files. 
- LIB: basic metadata about each book
- DOC: preserved paragraphs of each book and appropriate OHCO index
- TOKEN: OHCO index and parts-of-speech tags derived from NLTK
- VOCAB: NLTK to extract stopwords, porter stems, 'pos_max' that contains most frequent parts-of-speech tags from TOKEN table
** These documents do not follow a traditional chapter structure

**Step 3**:

**Step 4**: 

**Step 5**:

**Step 6**:

**Step 7**:

**Step 8**:

In [239]:
#import libraries
import pandas as pd
import numpy as np
from glob import glob
import re
import nltk
from pathlib import Path
%matplotlib inline

In [240]:
#hide warnings
import warnings
warnings.filterwarnings('ignore')

In [241]:
#NLTK downloads
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('stopwords')
nltk.download('tagsets')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\haley\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\haley\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\haley\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package tagsets to
[nltk_data]     C:\Users\haley\AppData\Roaming\nltk_data...
[nltk_data]   Package tagsets is already up-to-date!

True

#### OHCO Model & Structure Decisions

An OHCO Model stands for Ordered Hierarchy of Content Objects. Breaking text elements down to the OHCO hierarchical levels allows us to create a database of text elements for data exploration. 

For this project, the OHCO is set to text_id, which is the unique ID given to each text to help distinguish it quickly from other texts, para_num, which is the unique count index given to each paragraph per text, sent_num, the unique count index given to each sentence per text, and token_num, the unique count index given for each individual token, or word. Many OHCO models include chapter numbers, so that the texts can be examined on a chapter level. This is often less computationally costly than examining a text at the paragraph or sentence level, especially for very long texts. However, for this project chapters are not included, because most of the philosophical texts do not follow a chapter structure. For example, the two texts by Wollstonecraft follow a letter format, and the texts by hooks are in essay format. Due to the inconsistencies in document structure, the documents are broken down to the paragraph, sentence, and token level.

In [242]:
#set OHCO
OHCO = ['text_id', 'para_num', 'sent_num', 'token_num']

In [243]:
#set directory for philosophy texts
philostext_dir = 'philostexts'

In [244]:
#identify start and end of texts, make uniform chapters
roman = '[IVXLCM]+'
caps = "[A-Z';, -]+"
chap_pats = {
    1: {
        'start_line': 17,
        'end_line': 7723},
    2: {
        'start_line': 14,
        'end_line': 9370},
    3: {
        'start_line': 7,
        'end_line': 180},
     4: {
        'start_line': 90,
        'end_line': 12102}, 
      5: {
        'start_line': 1081,
        'end_line': 19707},
      6: {
        'start_line': 396,
        'end_line': 4716},
      7: {
        'start_line': 502,
        'end_line': 30458},
      8: {
        'start_line': 155,
        'end_line': 1371},
      9: {
        'start_line': 72,
        'end_line': 3992},
      10: {
        'start_line': 89,
        'end_line': 5281},
    11: {
        'start_line': 62,
        'end_line': 3113},
    12: {
        'start_line': 107,
        'end_line': 8653},
    13: {
        'start_line': 80,
        'end_line': 1433},
    14: {
        'start_line': 75,
        'end_line': 2319},
    15: {
        'start_line': 618,
        'end_line': 9483},
    16: {
        'start_line': 151,
        'end_line': 6007},
    17: {
        'start_line': 61,
        'end_line': 24563},
    18: {
        'start_line': 902,
        'end_line': 39254},
    19: {
        'start_line': 12,
        'end_line': 2437},
    #20: {
     #   'start_line': 268,
     #   'end_line': 6783,
    # },
    21: {
        'start_line': 135,
        'end_line': 2739}}

In [245]:
#make a list of all text files
text_list = [text for text in sorted(glob(philostext_dir+'/*.txt'))]
text_list

['philostexts\\Aristotle_NicomachaenEthics-1.txt',
 'philostexts\\Cicero_OnDuties-4.txt',
 'philostexts\\Foucault_TheOrderofThings-5.txt',
 'philostexts\\Freire_PedagogyOfTheOppressed-6.txt',
 'philostexts\\HannahArendt_TheOriginsofTotalitarianism-7.txt',
 'philostexts\\HarrietTaylorMill_EnfranchisementofWomen-8.txt',
 'philostexts\\Hesse_Siddhartha-9.txt',
 'philostexts\\Hume_AnEnquiryConcerningHumanUnderstanding-10.txt',
 'philostexts\\Kant_MetaphysicsOfMorals-11.txt',
 'philostexts\\Kierkegaard_CollectionOfWritings-12.txt',
 'philostexts\\Laozi_TaoTeChing-21.txt',
 'philostexts\\Marx_CommunistManifesto-13.txt',
 'philostexts\\MaryWollstonecraft_AVindicationOfTheRightsofMen-14.txt',
 'philostexts\\MaryWollstonecraft_AVindicationOfTheRightsofWoman-15.txt',
 'philostexts\\Nietzsche_BeyondGoodandEvil-16.txt',
 'philostexts\\Plato_TheRepublic-17.txt',
 'philostexts\\Simonedebeauvoir_TheSecondSex-18.txt',
 'philostexts\\StuartMill_Utilitarianism-19.txt',
 'philostexts\\bellhooks_AintIAWoman-2.txt',
 'philostexts\\bellhooks_FeministClassStruggle-3.txt']

### Clean Texts and Build Library and Document Tables

In [302]:
#function to clean texts, split into paragraphs, and build dataframes
def clean_texts(text_list, chap_pats, OHCO=OHCO):
    lib = []
    doc = []
    for text in text_list:
        # Get ID from filename
        text_id = int(text.split('-')[-1].split('.')[0])
        #print(text_id)

        #get text title 
        text_title = text.split('_')[-1].split('-')[0]
        #print(text_title)

        #get text author
        text_author = text.split('\\')[-1].split('_')[0]
        #print(text_author)    

        #read files as lines
        lines = open(text, 'r', encoding='utf-8-sig').readlines()
        
        #create dataframe to store text details
        df = pd.DataFrame(lines, columns=['line_str']) #add lines to df
        df.index.name = 'line_num' #set line_num as index for each line_str
        df.line_str = df.line_str.str.strip() #strip white space from lines
        #df['text_id'] = text_id #add text_id column to df
        
        #remove inconsistent chapter headings
        df.line_str = df.line_str.replace(r'CHAPTER', '').str.strip()
        df.line_str = df.line_str.replace(r'Chapter', '').str.strip()
        
        #remove page numbers
        df.line_str = df.line_str.str.replace(r'[0-9]+', '')
        
        # fix characters to improve tokenization
        df.line_str = df.line_str.str.replace('—', ' — ')
        df.line_str = df.line_str.str.replace('-', ' - ')
        
        #remove unimportant stuff at begininng and end of texts
        a = chap_pats[text_id]['start_line'] - 1
        b = chap_pats[text_id]['end_line'] + 1
        df = df.iloc[a:b]    

        #split into paragraphs
        df = df['line_str'].str.split(r'\n\n+', expand=True).stack().to_frame().rename(columns={0:'para_str'})
        df.index.names = OHCO[1:3]
        df['para_str'] = df['para_str'].str.replace(r'\n', ' ').str.strip()
        df = df[~df['para_str'].str.match(r'^\s*$')] # Remove empty paragraphs    

        # Set index
        df['text_id'] = text_id
        df = df.reset_index().set_index(OHCO[:2])  
        df = df.drop(['sent_num'], axis=1) #drop sent_num - not needed at this point  

        #append extracted into to lists
        lib.append((text_id, text_title, text_author, text))
        doc.append(df)
    
    docs = pd.concat(doc) #put all doc into into dataframe format 
    #create new df with title, author, file, and text id index
    library = pd.DataFrame(lib, columns=['text_id', 'text_title', 'text_author', 'text_file']).set_index('text_id')
    return docs, library

In [303]:
#call function to make LIB and DOC tables
DOC, LIB = clean_texts(text_list, chap_pats)

In [304]:
LIB.sample(10)

,text_title,text_author,text_file
text_id,,,
9,Siddhartha,Hesse,philostexts\Hesse_Siddhartha-9.txt
6,PedagogyOfTheOppressed,Freire,philostexts\Freire_PedagogyOfTheOppressed-6.txt
11,MetaphysicsOfMorals,Kant,philostexts\Kant_MetaphysicsOfMorals-11.txt
16,BeyondGoodandEvil,Nietzsche,philostexts\Nietzsche_BeyondGoodandEvil-16.txt
15,AVindicationOfTheRightsofWoman,MaryWollstonecraft,philostexts\MaryWollstonecraft_AVindicationOfT...
3,FeministClassStruggle,bellhooks,philostexts\bellhooks_FeministClassStruggle-3.txt
21,TaoTeChing,Laozi,philostexts\Laozi_TaoTeChing-21.txt
5,TheOrderofThings,Foucault,philostexts\Foucault_TheOrderofThings-5.txt
19,Utilitarianism,StuartMill,philostexts\StuartMill_Utilitarianism-19.txt
4,OnDuties,Cicero,philostexts\Cicero_OnDuties-4.txt

In [305]:
DOC.sample(10)

                                                           para_str
text_id para_num
18      18616     In her book The Adolescent Girl, Mme Evard als...
17      7633      ideas in the idea of good, though he does not ...
18      20526     and now that she is grasped, she is swept away...
19      2242      conception of justice, as to maintain that all...
17      19267                      invites or excites intelligence.
5       17777     tion of wealth) that proceed by relating disco...
        11604     all beings emerge into their precarious, glitt...
16      5939      bruised, but full of hopes which as yet lack n...
17      8496      without reading him, in the same fashion in wh...
7       29323     ness that has come out of Soviet Russia since ...

### Create TOKEN table to extract NLTK Part-of-Speech tags

In [250]:
def tokenize(doc_df, OHCO=OHCO, remove_pos_tuple=False, ws=False):
    
    # Paragraphs to Sentences
    df = doc_df.para_str\
        .apply(lambda x: pd.Series(nltk.sent_tokenize(x)))\
        .stack()\
        .to_frame()\
        .rename(columns={0:'sent_str'})
    
    # Sentences to Tokens
    # Local function to pick tokenizer
    def word_tokenize(x):
        if ws:
            s = pd.Series(nltk.pos_tag(nltk.WhitespaceTokenizer().tokenize(x)))
        else:
            s = pd.Series(nltk.pos_tag(nltk.word_tokenize(x)))
        return s
            
    df = df.sent_str\
        .apply(word_tokenize)\
        .stack()\
        .to_frame()\
        .rename(columns={0:'pos_tuple'})
    
    # Grab info from tuple
    df['pos'] = df.pos_tuple.apply(lambda x: x[1])
    df['token_str'] = df.pos_tuple.apply(lambda x: x[0])
    if remove_pos_tuple:
        df = df.drop('pos_tuple', 1)
    
    # Add index
    df.index.names = OHCO
    
    return df

In [251]:
TOKEN = tokenize(DOC, ws=True)

In [252]:
TOKEN.head()

                                          pos_tuple pos token_str
text_id para_num sent_num token_num
1       16       0        0             (Every, DT)  DT     Every
                          1               (art, NN)  NN       art
                          2               (and, CC)  CC       and
                          3             (every, DT)  DT     every
                          4          (inquiry,, NN)  NN  inquiry,

### Create VOCAB Table with NLTK Stopwords, Porter Stems, Most Frequent Parts-of-Speech Tags

In [253]:
#Extract a vocabulary from the TOKEN table
TOKEN['term_str'] = TOKEN['token_str'].str.lower().str.replace('[\W_]', '') #lowercase all, remove anything that's not a letter

VOCAB = TOKEN.term_str.value_counts().to_frame().rename(columns={'index':'term_str', 'term_str':'n'})\
    .sort_index().reset_index().rename(columns={'index':'term_str'})
VOCAB.index.name = 'term_id'

VOCAB['num'] = VOCAB.term_str.str.match("\d+").astype('int')

VOCAB

          term_str      n  num
term_id
0                   26650    0
1                0     28    1
2               00     13    1
3               01      6    1
4              011      1    1
...            ...    ...  ...
52120         ἅπαν      1    0
52121    ἐξοίχεται      1    0
52122        ὁρμαί      1    0
52123        ὁρμάς      1    0
52124         ὁρμή      2    0

[52125 rows x 3 columns]

In [254]:
#add stopwords
sw = pd.DataFrame(nltk.corpus.stopwords.words('english'), columns=['term_str'])
sw = sw.reset_index().set_index('term_str')
sw.columns = ['dummy']
sw.dummy = 1
sw.sample(10)

          dummy
term_str
theirs        1
at            1
are           1
m             1
haven         1
these         1
his           1
shouldn       1
t             1
ll            1

In [255]:
VOCAB['stop'] = VOCAB.term_str.map(sw.dummy)
VOCAB['stop'] = VOCAB['stop'].fillna(0).astype('int')

VOCAB[VOCAB.stop == 1].sample(10)

        term_str      n  num  stop
term_id
28755         ma     12    0     1
45399       such   2647    0     1
3329          an   6779    0     1
33823        own   2324    0     1
46823      their   8838    0     1
1418           a  34574    0     1
51950       your    917    0     1
30964       most   2463    0     1
23051        how   1660    0     1
4711          at   5732    0     1

In [256]:
#add stems
from nltk.stem.porter import PorterStemmer

stemmer = PorterStemmer()
VOCAB['p_stem'] = VOCAB.term_str.apply(stemmer.stem)

VOCAB.sample(10)

             term_str   n  num  stop        p_stem
term_id
10433    considerando   1    0     0  considerando
9171         coeperat   1    0     0      coeperat
40772          rivals  18    0     0         rival
34730      pensioners   1    0     0       pension
34892     periculosum   1    0     0   periculosum
36588     praedixisse   1    0     0    praedixiss
42844       showiness   1    0     0         showi
51326       whichever   5    0     0       whichev
29813        memoriam   5    0     0      memoriam
45728        supposer   1    0     0        suppos

In [257]:
TOKEN.sample(10)

                                              pos_tuple   pos     token_str  \
text_id para_num sent_num token_num
5       17580    0        8                   (and, CC)    CC           and
7       24964    0        11                  (war, NN)    NN           war
2       6702     0        9                    (by, IN)    IN            by
15      3073     0        1                    (of, IN)    IN            of
18      36927    0        4                (lives., NN)    NN        lives.
        18234    0        2                 (her, PRP$)  PRP$           her
2       1788     1        2          (slaveholding, NN)    NN  slaveholding
16      4392     0        10              (between, IN)    IN       between
18      38988    1        0                  (She, PRP)   PRP           She
1       2481     0        6                   (the, DT)    DT           the

                                         term_str
text_id para_num sent_num token_num
5       17580    0        8                   and
7       24964    0        11                  war
2       6702     0        9                    by
15      3073     0        1                    of
18      36927    0        4                 lives
        18234    0        2                   her
2       1788     1        2          slaveholding
16      4392     0        10              between
18      38988    1        0                   she
1       2481     0        6                   the

In [258]:
#add 'term_id' column to table to make it easier of merging tables 
TOKEN['term_id'] = TOKEN.term_str.map(VOCAB.reset_index().set_index('term_str').term_id)

In [259]:
TOKEN.head()

                                          pos_tuple pos token_str term_str  \
text_id para_num sent_num token_num
1       16       0        0             (Every, DT)  DT     Every    every
                          1               (art, NN)  NN       art      art
                          2               (and, CC)  CC       and      and
                          3             (every, DT)  DT     every    every
                          4          (inquiry,, NN)  NN  inquiry,  inquiry

                                     term_id
text_id para_num sent_num token_num
1       16       0        0            17469
                          1             4390
                          2             3416
                          3            17469
                          4            25045

In [260]:
#Finally, add a feature named "pos_max" to the VOCAB table that contains the most frequently 
#associated part-of-speech tag, as found in the TOKEN table, with each term.
VOCAB['pos_max'] = TOKEN.groupby(['term_id', 'pos']).count().iloc[:,0].unstack().idxmax(1)

In [261]:
VOCAB.sample(10)

            term_str   n  num  stop      p_stem pos_max
term_id
24638         inesse   6    0     0       iness      NN
34548           pean   6    0     0        pean      JJ
10119    confessions  20    0     0     confess     NNS
18569       farewell  24    0     0     farewel      NN
14282      disjoined   5    0     0     disjoin     VBN
7313       caesarian   1    0     0   caesarian      JJ
26206     iuventutem   1    0     0  iuventutem      NN
33815           owed  22    0     0         owe     VBD
5639         beakful   1    0     0        beak      NN
43750        solebat   3    0     0     solebat      NN

In [273]:
#save to csv

LIB.to_csv('LIB.csv')
VOCAB.to_csv('VOCAB.csv')
TOKEN.to_csv('TOKEN.csv')

In [306]:
DOC.to_csv('DOC.csv')